{% extends 'common/base.html' %}
{% block title %} Create New User {% endblock title %}

{% block header %}
    Create New User
{% endblock header%}

{% block menu %}

    <!-- {% for item in menu %} -->

    <!-- {% endfor %} -->

{% endblock menu %}


{% block body %}
     
    <div class="form-container">
        <h2 class="form-container-title">User Form</h2>
    
        <form method="post">
            {% csrf_token %}

            <div class="row" style="padding: 10px;">
                <div class="col-3">
                    <label for="username">Username:</label> 
                </div>
                <div class="col-9">
                    {{ form.username }}
                </div>
            </div>
    
            <div class="row" style="padding: 10px;">
                <div class="col-3">
                    <label for="email">Email address:</label>
                </div>
                <div class="col-9">
                    {{ form.email }}
                </div>
            </div>

            <div class="row" style="padding: 10px;">
                <div class="col-3">
                    <label for="password">Password:</label>
                </div>
                <div class="col-9">
                    {{ form.password }}
                </div>
            </div>
    
            <button type="submit" class="btn btn-primary btn-block">Save</button>
        </form>
    </div>
    

{% endblock %}
