{% extends 'common/base.html' %}
{% block title %} Group List {% endblock title %}

{% block header %}
    List of Users
{% endblock header%}


{% block menu %}

    <!-- {% for item in menu %} -->

    <!-- {% endfor %} -->

{% endblock menu %}



{% block body %}
    {% if page_obj %}
    <div class="messages">
        <div class="alert table-header">

            <div class="row">
                <div class="col-5"> Name</div>
                <div class="col-5"> Email</div>
                <div class="col-2"> Delete</div>
            </div>
        </div>

        {% for user in page_obj %}
            {% if forloop.counter0|divisibleby:2 %}
                <div class="alert even-row">
                    <div class="row">
                        <div class="col-5"> {{ user.username }} </div>
                        
                        <div class="col-5"> {{ user.email }} </div>

                        <div class="col-2">                        
                            <a href="{% url 'delete-user' user.id %}">
                                <button type="button" class="close" ata-dismiss="alert" style="color: red;">X</button>
                            </a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="alert odd-row">
                    <div class="col-5"> {{ user.username }} </div>
                        
                    <div class="col-5"> {{ user.email }} </div>

                    <div class="col-2">                        
                        <a href="{% url 'delete-user' user.id %}">
                            <button type="button" class="close" ata-dismiss="alert" style="color: red;">X</button>
                        </a>
                    </div>
                </div>
            {% endif %}

        {% endfor %}
    </div>
    {% else %}
    <div class="messages">
        NO USER FOUND
    </div>

    {% endif %}

    <hr/>
    <hr/>

    <div class="button-container">

        <span class="m-5 p-5">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            {% endif %}
        </span>

        <span class="m-5 p-5">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
        </span>

        <span class="m-5 p-5">
            {% if page_obj.paginator.num_pages %}
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            {% endif %}
        </span>

        <span class="m-5 p-5">
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
 
        <span class="m-5 p-5">
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>

    </div>
    {% endblock %}