{% extends 'common/base.html' %}
{% block title %} Group List {% endblock title %}

{% block header %}
    List of Users
{% endblock header%}


{% block menu %}

    <!-- {% for item in menu %} -->

    <!-- {% endfor %} -->

{% endblock menu %}



{% block body %}
    {% if page_obj %}
    <div class="messages">
        <div class="alert table-header">
            <button type="button" class="close" data-dismiss="alert" style="color: red;"></button>
            <div class="row">
                <div class="col-3"> Title</div>
                <div class="col-3"> Content</div>
                <div class="col-3"> Created At</div>
                <div class="col-3"> Created By</div>
            </div>
        </div>

        {% for item in page_obj %}
            {% if forloop.counter0|divisibleby:2 %}
                <div class="alert even-row">
                    <a href="{% url 'delete_blog' item.id %}">
                        <button type="button" class="close" ata-dismiss="alert" style="color: red;">X</button>
                    </a>
                    <div class="row">
                        <div class="col-3"> {{ item.title }} </div>
                        
                        <div class="col-3"> {{ item.content }} </div>

                        <div class="col-3"> {{ item.created_at }} </div>

                        <div class="col-3"> {{ author.username }} </div>
                    </div>
                </div>
            {% else %}
                <div class="alert odd-row">
                    <a href="{% url 'delete_blog' item.id %}">
                        <button type="button" class="close" ata-dismiss="alert" style="color: red;">X</button>
                    </a>
                    <div class="row">
                        <div class="col-3"> {{ item.title }} </div>
                        
                        <div class="col-3"> {{ item.content }} </div>

                        <div class="col-3"> {{ item.created_at }} </div>

                        <div class="col-3"> {{ author.name }} </div>
                    </div>
                </div>
            {% endif %}

        {% endfor %}
    </div>
    {% else %}
    <div class="messages">
        NO BLOG FOUND
    </div>

    {% endif %}

    <hr/>
    <hr/>

    <div class="button-container">

        <span class="m-5 p-5">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            {% endif %}
        </span>

        <span class="m-5 p-5">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
        </span>

        <span class="m-5 p-5">
            {% if page_obj.paginator.num_pages %}
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            {% endif %}
        </span>

        <span class="m-5 p-5">
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
 
        <span class="m-5 p-5">
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>

    </div>

    {% endblock %}